In [ ]:
ls

In [ ]:
pwd

In [1]:
import pandas as pd
import numpy as np

In [4]:
cd Data/

/Users/andres/DocsNonCloud/Ironhack/MinorityRepo/Data

In [ ]:
pwd

In [ ]:
ls

In [7]:
cd DC/

/Users/andres/DocsNonCloud/Ironhack/MinorityRepo/Data/DC

In [114]:
pwd

'/Users/andres/DocsNonCloud/Ironhack/MinorityRepo/Data/DC'

In [191]:
incidents = "NIBRS_incident.csv"
offenders = "Data/DC_2019/NIBRS_OFFENDER.csv"
arrestees = "NIBRS_ARRESTEE.csv"
offenses = "NIBRS_OFFENSE.csv"
offenses_type = "NIBRS_OFFENSE_TYPE.csv"

In [77]:
df = pd.read_csv("NIBRS_incident.csv")
df

,DATA_YEAR,AGENCY_ID,INCIDENT_ID,NIBRS_MONTH_ID,CARGO_THEFT_FLAG,SUBMISSION_DATE,INCIDENT_DATE,REPORT_DATE_FLAG,INCIDENT_HOUR,CLEARED_EXCEPT_ID,CLEARED_EXCEPT_DATE,INCIDENT_STATUS,DATA_HOME,ORIG_FORMAT,DID
0,2019,2244,121549353,8180938,NaN,05-MAR-20,12-JUN-19,NaN,20.0,6,NaN,0,C,F,67784211
1,2019,2244,121551726,8211586,N,05-MAR-20,21-OCT-19,NaN,19.0,6,NaN,0,C,F,67779131
2,2019,2244,121551728,8211586,N,05-MAR-20,28-OCT-19,NaN,14.0,5,30-JAN-20,0,C,F,67766530
3,2019,2244,119076144,8211586,NaN,06-JAN-20,28-OCT-19,NaN,18.0,2,11-DEC-19,0,C,F,62728041
4,2019,2244,119076145,8219248,N,06-JAN-20,22-NOV-19,NaN,21.0,6,NaN,0,C,F,62736743
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4100,2019,2244,123068595,8226910,N,07-APR-20,15-DEC-19,NaN,20.0,2,16-MAR-20,0,C,F,70931358
4101,2019,2244,123068599,8226910,NaN,07-APR-20,04-DEC-19,NaN,5.0,2,11-MAR-20,0,C,F,70934737
4102,2019,2244,123059902,8226910,NaN,07-APR-20,29-DEC-19,NaN,2.0,6,NaN,0,C,F,70931368
4103,2019,2244,123068626,8226910,NaN,07-APR-20,03-DEC-19,NaN,18.0,6,NaN,0,C,F,70934778
4104,2019,2244,123059907,8226910,N,07-APR-20,05-DEC-19,R,NaN,6,NaN,0,C,F,70931380

In [106]:
incident_id_list = df["INCIDENT_ID"]
list(incident_id_list)

[121549353,
 121551726,
 121551728,
 119076144,
 119076145,
 119076147,
 119076148,
 116497388,
 116497389,
 116497390,
 114331727,
 114331731,
 114346153,
 114331745,
 114331761,
 114331855,
 114331856,
 114331857,
 114331858,
 114331861,
 114331863,
 114331865,
 114331866,
 114331867,
 114346602,
 114331868,
 114331869,
 114331871,
 114331873,
 114331874,
 114331875,
 114331877,
 114331878,
 114331879,
 114331880,
 114331722,
 114331735,
 114331746,
 114331774,
 114331775,
 114346615,
 114346616,
 114346617,
 114346618,
 114346619,
 114346620,
 114346622,
 114346623,
 114346624,
 114346626,
 114346628,
 114346629,
 114346630,
 114346631,
 114346632,
 114346635,
 114346636,
 114346637,
 114346639,
 114346640,
 114346641,
 118309105,
 118309111,
 114346644,
 118309116,
 114346647,
 118309117,
 114346649,
 114346650,
 114346651,
 114346652,
 114346653,
 118309118,
 114346655,
 114346656,
 114346657,
 114346658,
 114346659,
 114346660,
 114346661,
 114346662,
 114346663,
 114346664,
 114346665,
 114346666,
 114346667,
 114346668,
 114346669,
 114346670,
 114346671,
 114346673,
 114346674,
 114346675,
 114346676,
 114346677,
 118309119,
 118309120,
 114346685,
 114346686,
 114346688,
 114346689,
 114346690,
 114346691,
 114346692,
 114346693,
 114346694,
 114346695,
 114346696,
 114346697,
 114346699,
 114346700,
 114346701,
 114346702,
 114346704,
 114346705,
 114346707,
 114346708,
 114346709,
 114346710,
 114346711,
 114346712,
 114346714,
 114346715,
 114346716,
 114346717,
 117450179,
 117450187,
 117450188,
 117450189,
 114336182,
 114336215,
 114346213,
 114331771,
 114336201,
 114346183,
 117452728,
 117452729,
 117452732,
 117452733,
 117452736,
 117456798,
 117452738,
 117452740,
 117452742,
 117452743,
 117452748,
 120074011,
 120074015,
 120074018,
 120074020,
 120074024,
 120074025,
 120074027,
 120074031,
 120074032,
 120074036,
 120074038,
 114331779,
 114336227,
 114346155,
 114336185,
 114336206,
 114346197,
 114346210,
 114336223,
 114336235,
 114336242,
 114336243,
 114336244,
 117450181,
 117450180,
 117450183,
 117450184,
 117450185,
 120089613,
 120074010,
 120089618,
 120074012,
 120074016,
 120074022,
 120074026,
 114331728,
 114336189,
 114336190,
 114331749,
 114336216,
 112089353,
 112098927,
 112095749,
 112089612,
 112095973,
 112089679,
 105563319,
 105563337,
 105567919,
 105563172,
 105563173,
 105563182,
 105567968,
 105563256,
 105563181,
 105563203,
 105563206,
 105563208,
 105563215,
 105563218,
 105567961,
 105567963,
 105568020,
 105563305,
 105558509,
 112089283,
 112098875,
 112095665,
 112095683,
 112089333,
 112095726,
 105567935,
 105563223,
 105567967,
 105558451,
 105558457,
 105563300,
 105567959,
 105558453,
 105563240,
 105563255,
 105563271,
 105563288,
 105558524,
 105568029,
 113191677,
 105563165,
 105563170,
 105558415,
 105567928,
 105567987,
 105558472,
 105558486,
 112095972,
 112098917,
 112095711,
 112096015,
 112089644,
 112098938,
 112089648,
 112095987,
 112089708,
 112096006,
 112096027,
 105563197,
 105563221,
 105563241,
 105563246,
 105558474,
 105558477,
 114346136,
 114346138,
 114346147,
 114346181,
 114346191,
 114346192,
 114346201,
 114336222,
 114346225,
 114336225,
 112095843,
 112095850,
 112095965,
 112089577,
 112095952,
 114336224,
 114346327,
 114346330,
 114346332,
 114346333,
 114346336,
 114346338,
 114346339,
 114346342,
 114346343,
 114331739,
 114336209,
 112089569,
 112089578,
 112089583,
 112095925,
 112095957,
 112089642,
 112089655,
 112095975,
 112089689,
 112089695,
 112089713,
 112089719,
 112089722,
 112096012,
 112089729,
 112089731,
 112089735,
 105563263,
 105563283,
 105558501,
 114346156,
 114346350,
 114346228,
 114346294,
 114346347,
 114346351,
 114346355,
 114346356,
 114346357,
 114346358,
 114346359,
 114346360,
 114346362,
 114346363,
 114346367,
 114331832,
 114346370,
 114346372,
 114346373,
 114346374,
 114346375,
 114346376,
 114346379,
 114346381,
 114346383,
 105563178,
 105567982,
 105567984,
 105563304,
 105563306,
 105563323,
 105563186,
 112095931,
 112089397,
 112089406,
 112089407,
 112089426,
 112089435,
 112089662,
 105563174,
 105563183,
 105563190,
 105558443,
 105558514,
 105558527,
 105563258,
 105563273,
 105558494,
 105558497,
 112089573,
 112095923,
 112089594,
 112099092,
 112089628,
 112089643,
 112099103,
 112089666,
 112095978,
 112089676,
 105558429,
 105558432,
 105563207,
 105568011,
 112089385,
 112089387,
 112089394,
 112089404,
 112095820,
 112095822,
 112099014,
 112089458,
 112099023,
 112095861,
 112089498,
 112095869,
 112089623,
 112089630,
 105567937,
 105563210,
 105558442,
 105567973,
 105563245,
 105563249,
 105558469,
 105563287,
 105558522,
 105563160,
 105563163,
 105563167,
 105563175,
 105563176,
 105567929,
 105558428,
 105563237,
 105558496,
 105563290,
 112095840,
 112089484,
 112089486,
 112095880,
 112095903,
 105563177,
 105563192,
 105567957,
 105563316,
 105563326,
 112095695,
 112098911,
 112098914,
 112095728,
 112089367,
 113191788,
 113191789,
 113191790,
 113191791,
 113191792,
 113196349,
 113191794,
 114346143,
 105567917,
 105567921,
 105567922,
 105567924,
 105558407,
 105567933,
 105558426,
 105558430,
 105567938,
 105567939,
 105563198,
 105558434,
 105567942,
 105567944,
 105558436,
 114346232,
 114346239,
 114346263,
 114346276,
 114346277,
 114346279,
 114346283,
 114346284,
 114346286,
 114346291,
 114346292,
 114346293,
 105567953,
 105567956,
 105563224,
 105567964,
 105567965,
 105563230,
 105567972,
 105558450,
 105563235,
 105567975,
 105567977,
 105567978,
 105563243,
 105558458,
 105558465,
 105567988,
 105567989,
 105563259,
 105567991,
 105567995,
 105567996,
 105567998,
 105567999,
 105568000,
 105558484,
 105558487,
 105568006,
 105568009,
 105568010,
 105568012,
 105568016,
 105563297,
 105558504,
 105568018,
 105558508,
 105563307,
 105558518,
 105568025,
 105568034,
 114346469,
 114346473,
 114346474,
 114346483,
 114346484,
 114346485,
 114346488,
 114346491,
 114346494,
 114346496,
 114346497,
 114346500,
 114346463,
 114346465,
 114346466,
 114346386,
 114346387,
 114346390,
 114346391,
 114346393,
 114346394,
 114346395,
 114346396,
 114346397,
 114346399,
 114331844,
 114346401,
 114346404,
 114346408,
 114346411,
 114346413,
 114346414,
 114346415,
 114346418,
 114331853,
 114346420,
 114346421,
 114346422,
 114346423,
 114346428,
 114346432,
 114346434,
 114346435,
 114346438,
 114346439,
 114346443,
 114346444,
 114346446,
 114346450,
 114346458,
 114346461,
 114346462,
 114346502,
 114346508,
 114346510,
 114346513,
 114346514,
 114346518,
 114346521,
 114346527,
 114346532,
 114346536,
 114346539,
 114346540,
 114346541,
 114346542,
 104059792,
 104059801,
 104064457,
 104064518,
 104067656,
 104067559,
 104064445,
 104067593,
 104059831,
 104064506,
 104059788,
 104067652,
 104059859,
 104064430,
 104064475,
 104059778,
 104064479,
 104064481,
 104059849,
 104064508,
 104059873,
 104064438,
 104067641,
 104067655,
 104059821,
 104067615,
 104064507,
 104064516,
 104059865,
 118309094,
 118309095,
 118309097,
 118309100,
 118309108,
 118309109,
 118301596,
 118309114,
 118309115,
 114331785,
 114331786,
 114331784,
 114346250,
 114331788,
 114331790,
 114346259,
 114336237,
 114331792,
 114336241,
 114331793,
 105563331,
 114331743,
 114331762,
 114346209,
 114331769,
 114336221,
 114336230,
 114336231,
 112536935,
 112536942,
 112536943,
 112530130,
 112530131,
 112534069,
 112536946,
 112536947,
 112530135,
 114346219,
 114331787,
 114331791,
 114346260,
 114331806,
 114331807,
 114331808,
 112095740,
 112095747,
 112098943,
 112089388,
 112095778,
 112098973,
 112095805,
 112098988,
 112095833,
 112089456,
 112095839,
 104064504,
 104064532,
 112089244,
 112089247,
 112089252,
 112095617,
 112095620,
 112089295,
 112098901,
 112098909,
 112089522,
 112089327,
 112089351,
 112089355,
 112089364,
 112095763,
 112089427,
 112098994,
 112095824,
 112089494,
 112089513,
 104067574,
 104059811,
 114331821,
 114346341,
 114346346,
 114331820,
 114331822,
 114331824,
 114331825,
 114331827,
 114331828,
 114331829,
 114331830,
 104064425,
 104059793,
 104064461,
 104064517,
 104064442,
 112098949,
 112098950,
 112098953,
 112098955,
 112098956,
 112098957,
 112098850,
 112098852,
 112098855,
 112098858,
 112089269,
 112089284,
 112089297,
 112095741,
 112098867,
 112089264,
 112089286,
 112098884,
 112098896,
 112095686,
 112098922,
 112089369,
 104064453,
 104064462,
 104059838,
 104064483,
 104059787,
 104059812,
 104064463,
 104064471,
 104067614,
 104064494,
 104067630,
 104064498,
 104064509,
 114336170,
 114336173,
 114346166,
 114336194,
 119076101,
 119076102,
 119076103,
 119076104,
 119076105,
 119076106,
 119076107,
 119076108,
 119076109,
 119076111,
 119076125,
 119076124,
 119076126,
 119076127,
 119076129,
 119070704,
 119076130,
 119076132,
 119070712,
 119076113,
 119076114,
 119076115,
 119070673,
 119076116,
 119076117,
 119076118,
 119076119,
 119076121,
 119076122,
 119076123,
 119076133,
 119076134,
 119076135,
 119076137,
 119076138,
 119076139,
 119076140,
 119076141,
 119076142,
 119076143,
 112089768,
 112089535,
 112089548,
 112095913,
 112099091,
 112089639,
 112099104,
 112099111,
 112089669,
 112089693,
 112096014,
 121549361,
 121549369,
 112089626,
 112095982,
 112089683,
 112089704,
 112096029,
 112089756,
 112089568,
 112089572,
 112089650,
 112089718,
 112089727,
 112089736,
 112096022,
 112089753,
 112089769,
 113196265,
 113196270,
 113196276,
 113196279,
 113196283,
 113196285,
 113196286,
 113196289,
 113196290,
 113196292,
 112537033,
 112537038,
 112537041,
 112537042,
 112537046,
 112537047,
 112537050,
 112537053,
 112537055,
 112537066,
 112537068,
 112537072,
 112537074,
 112537075,
 112537080,
 112537082,
 112537084,
 112537085,
 112537108,
 112537110,
 112537112,
 112537113,
 112537118,
 112537124,
 112537125,
 112537127,
 112536949,
 112536951,
 112536954,
 112536955,
 112536957,
 112534078,
 112530139,
 112536959,
 112536962,
 112530143,
 112530145,
 112536966,
 112536968,
 112536971,
 112536973,
 112536974,
 112536975,
 112536979,
 112536981,
 112536982,
 112536993,
 112536994,
 112536995,
 112536999,
 112537001,
 112537002,
 112537009,
 112537013,
 112537015,
 112537018,
 112537022,
 112537025,
 112537028,
 112537032,
 112537036,
 112537039,
 112537040,
 112537043,
 112537045,
 112537048,
 112537049,
 112537060,
 112537062,
 112537067,
 112537071,
 112537073,
 112537076,
 112537081,
 112537086,
 112537087,
 112534072,
 112536956,
 112536958,
 120089734,
 112536963,
 120089737,
 112536969,
 112536970,
 112536972,
 112536976,
 112530151,
 112536983,
 112536984,
 112536985,
 120074111,
 120074112,
 112536990,
 112536992,
 112537000,
 112537006,
 112537007,
 112537011,
 112537012,
 112537014,
 112537016,
 112537017,
 112537019,
 112537021,
 112537023,
 112537027,
 112537030,
 112530126,
 112536940,
 112537090,
 112537091,
 112537092,
 112537093,
 112537095,
 112537096,
 112537099,
 112537101,
 112537102,
 112537103,
 112537106,
 112537107,
 112537111,
 112537114,
 112537116,
 112537117,
 112537121,
 112537123,
 112537126,
 112537128,
 112537129,
 112537130,
 112537131,
 112537132,
 112537133,
 112537134,
 112537135,
 112537136,
 112537138,
 112537141,
 112537147,
 112537148,
 112537150,
 112537151,
 112537152,
 112537154,
 112537155,
 112537156,
 112537161,
 112537162,
 112537163,
 112537164,
 112537165,
 112537169,
 112537174,
 112537175,
 112537177,
 112537178,
 112537179,
 112537180,
 112537188,
 112537189,
 112537190,
 112537192,
 112537193,
 112537196,
 112537197,
 112537199,
 112537200,
 112537201,
 112537202,
 112537205,
 112537207,
 112537213,
 112537218,
 112537219,
 112537220,
 112537221,
 112537225,
 112537228,
 112537229,
 112537230,
 112537232,
 112537233,
 112537235,
 112537236,
 112537237,
 112536934,
 112537240,
 112537242,
 112537243,
 112537245,
 112537246,
 112537247,
 112537248,
 112537250,
 112537252,
 112537253,
 112537254,
 112537255,
 112537256,
 112537257,
 112537258,
 112537259,
 112537262,
 112537264,
 112537265,
 ...]

In [168]:
offenses_df = pd.read_csv(offenses)
offenses_df

,DATA_YEAR,OFFENSE_ID,INCIDENT_ID,OFFENSE_TYPE_ID,ATTEMPT_COMPLETE_FLAG,LOCATION_ID,NUM_PREMISES_ENTERED,METHOD_ENTRY_CODE
0,2019,147151350,121549353,18,C,1,NaN,NaN
1,2019,147151354,121551726,40,C,1,NaN,NaN
2,2019,147151356,121551728,40,C,13,NaN,NaN
3,2019,144331220,119076144,18,A,1,NaN,NaN
4,2019,144331221,119076145,45,C,13,NaN,NaN
...,...,...,...,...,...,...,...,...
4505,2019,148901551,123068599,51,C,1,NaN,NaN
4506,2019,148906540,123059902,5,C,1,NaN,NaN
4507,2019,148901580,123068626,51,C,1,NaN,NaN
4508,2019,148906547,123059907,5,C,18,NaN,NaN
4509,2019,148906546,123059907,14,C,18,NaN,NaN

In [169]:
offenses_type_df = pd.read_csv(offenses_type)
offenses_type_df = offenses_type_df.iloc[:,[0,8]]
offenses_type_df

    OFFENSE_TYPE_ID OFFENSE_GROUP
0                58             A
1                 1             A
2                 2             A
3                 3             A
4                 4             A
..              ...           ...
81               68             A
82               36             A
83               50             A
84               10             B
85               48             B

[86 rows x 2 columns]

In [179]:
new_df = pd.merge(offenses_df, offenses_type_df, on=['OFFENSE_TYPE_ID'], how="left")

In [184]:
new_df[new_df["OFFENSE_GROUP"]=="A"]

,DATA_YEAR,OFFENSE_ID,INCIDENT_ID,OFFENSE_TYPE_ID,ATTEMPT_COMPLETE_FLAG,LOCATION_ID,NUM_PREMISES_ENTERED,METHOD_ENTRY_CODE,OFFENSE_GROUP
0,2019,147151350,121549353,18,C,1,NaN,NaN,A
1,2019,147151354,121551726,40,C,1,NaN,NaN,A
2,2019,147151356,121551728,40,C,13,NaN,NaN,A
3,2019,144331220,119076144,18,A,1,NaN,NaN,A
4,2019,144331221,119076145,45,C,13,NaN,NaN,A
...,...,...,...,...,...,...,...,...,...
4505,2019,148901551,123068599,51,C,1,NaN,NaN,A
4506,2019,148906540,123059902,5,C,1,NaN,NaN,A
4507,2019,148901580,123068626,51,C,1,NaN,NaN,A
4508,2019,148906547,123059907,5,C,18,NaN,NaN,A
4509,2019,148906546,123059907,14,C,18,NaN,NaN,A

In [185]:
pwd

'/Users/andres/DocsNonCloud/Ironhack/MinorityRepo/Data/DC_2019'

In [186]:
cd /Users/andres/DocsNonCloud/Ironhack/MinorityRepo

/Users/andres/DocsNonCloud/Ironhack/MinorityRepo

In [187]:
pwd

'/Users/andres/DocsNonCloud/Ironhack/MinorityRepo'

In [188]:
df = pd.read_csv("Data/DC_2019/NIBRS_OFFENSE.csv")
df

,DATA_YEAR,OFFENSE_ID,INCIDENT_ID,OFFENSE_TYPE_ID,ATTEMPT_COMPLETE_FLAG,LOCATION_ID,NUM_PREMISES_ENTERED,METHOD_ENTRY_CODE
0,2019,147151350,121549353,18,C,1,NaN,NaN
1,2019,147151354,121551726,40,C,1,NaN,NaN
2,2019,147151356,121551728,40,C,13,NaN,NaN
3,2019,144331220,119076144,18,A,1,NaN,NaN
4,2019,144331221,119076145,45,C,13,NaN,NaN
...,...,...,...,...,...,...,...,...
4505,2019,148901551,123068599,51,C,1,NaN,NaN
4506,2019,148906540,123059902,5,C,1,NaN,NaN
4507,2019,148901580,123068626,51,C,1,NaN,NaN
4508,2019,148906547,123059907,5,C,18,NaN,NaN
4509,2019,148906546,123059907,14,C,18,NaN,NaN

In [206]:
(
pd.read_csv(offenders)["INCIDENT_ID"]
).nunique()

4105

In [212]:
15786-7674

8112

In [209]:
df[df["OFFENSE_TYPE_ID"]==18]

,DATA_YEAR,OFFENSE_ID,INCIDENT_ID,OFFENSE_TYPE_ID,ATTEMPT_COMPLETE_FLAG,LOCATION_ID,NUM_PREMISES_ENTERED,METHOD_ENTRY_CODE
0,2019,147151350,121549353,18,C,1,NaN,NaN
3,2019,144331220,119076144,18,A,1,NaN,NaN
5,2019,144331222,119076145,18,C,13,NaN,NaN
33,2019,139559032,114331874,18,C,1,NaN,NaN
41,2019,139576271,114331735,18,C,1,NaN,NaN
...,...,...,...,...,...,...,...,...
4415,2019,145495763,120089669,18,C,1,NaN,NaN
4416,2019,145495770,120089673,18,C,1,NaN,NaN
4441,2019,145495853,120089754,18,C,1,NaN,NaN
4448,2019,145495711,120089622,18,C,1,NaN,NaN
4501,2019,148906520,123059888,18,C,1,NaN,NaN

In [226]:
(pd.read_csv("Data/DC_2019/NIBRS_RELATIONSHIP.csv")[["RELATIONSHIP_TYPE_ID","RELATIONSHIP_NAME"]]
 .sort_values(["RELATIONSHIP_TYPE_ID"])
)

    RELATIONSHIP_TYPE_ID                                  RELATIONSHIP_NAME
22                     1                             Victim Was Stepsibling
21                     1                              Victim Was Stepparent
20                     1                                  Victim Was Spouse
4                      1                                   Victim Was Child
5                      1                       Victim Was Common-Law Spouse
19                     1                               Victim Was Stepchild
18                     1                                 Victim Was Sibling
16                     1                                  Victim Was Parent
9                      1                              Victim Was Grandchild
10                     1                             Victim Was Grandparent
12                     1                                  Victim Was In-law
14                     1                     Victim Was Other Family Member
0                      2                            Victim Was Acquaintance
15                     2                         Victim was Otherwise Known
13                     2                                Victim Was Neighbor
11                     2                            Homosexual Relationship
8                      2                                  Victim Was Friend
7                      2                                Victim was Employer
6                      2                                Victim was Employee
3                      2        Victim Was Child of Boyfriend or Girlfriend
2                      2                    Victim Was Boyfriend/Girlfriend
1                      2                              Victim Was Babysittee
25                     2                               Victim was Ex-Spouse
26                     2  Victim Was Ex-Relationship (Ex-Boyfriend/Girlf...
23                     3                                Victim Was Stranger
17                     4                               Relationship Unknown
24                     4                                Victim Was Offender